html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
.full-width {
  width: 50%;
}
#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  
}

.header{
  
  background-color:#28a745 !important;
  
}

.header1{
  
  background-color:#28a745 !important;
  color: #ffffff!important;
  
}
.container {
  grid-area: header;
  /* background-color:#F22818!important; */
widows: 38%!important;
height: 42%!important;
  color: #212529;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5rem; */

  /* height:60px; */
}
.c1{
  height: 42% !important;
  width: 38%;
  float:left;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.main {
  grid-area: main;
  align-items: center;
  text-align: center;
  /* background-image: */
}
.btn{
  color:#FF4500;
}
.footer {
  grid-area: footer;
  background-color:#28a745 !important;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height:40px
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  font-size: x-large;
 
}
