html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
.full-width {
  width: 100%;
}
#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  
}
.container {
  grid-area: header;
  background-color:#007bff!important;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  height:60px
}

.main {
  grid-area: main;
  align-items: center;
  text-align: center;
  /* background-image: */
}
.footer {
  grid-area: footer;
  background-color:#007bff!important;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height:40px
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
 
}
